# Python
venv/
__pycache__/
*.pyc
*.egg-info/
.env

# Node.js
node_modules/
.next/
build/
dist/

# OS / Editor specific
.vscode/
*.swp
*~
.DS_Store

# Other
/New Text Document.txt
/New Text Document (2).txt
/Photo.pdf