# fly.toml app configuration file generated for madrush on 2025-12-01T16:42:20Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'madrush'
primary_region = 'lhr'

[build]

[deploy]
  release_command = "alembic upgrade head"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1  # Keep 1 running for production
  processes = ['app']

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
